apiVersion: apps/v1
kind: Deployment
metadata:  
  name: nodejs-deployment  
  labels:    
    app: helloworld
spec:  
  replicas: 1  
  selector:    
    matchLabels:
      app: helloworld
  strategy:
    rollingUpdate: {}
  template:
    metadata:
      labels:
        app: helloworld
    spec: 
      containers:
      - name: helloworld
        image: kartiksuthar811/nodejs-helloworld
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
      imagePullSecrets:
        - name: regcred

---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  labels:
    app: helloworld
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8000
    nodePort: 32121
  selector:
    app: helloworld
